.NavBar {
    width: 100%;
}

.centeredContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* 100% of the viewport height */
}

.content {
    text-align: center;
    max-width: 600px;
    /* Adjust as needed */
    padding: 20px;
}

/* Add responsive styles as needed */
@media (max-width: 768px) {
    .centeredContainer {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
    }
}